<div class="container">
    <form>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="creation">Creation Percentage</label>
        <div class="col-sm-10">
          <input type="creation" class="form-control form-control-sm" id="creation" aria-describedby="creationHelp"
            placeholder="Enter Creation Percentage">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="assign">Assign Percentage</label>
        <div class="col-sm-10">
          <input type="assgn" class="form-control form-control-sm" id="assign" aria-describedby="assignHelp"
            placeholder="Enter Assign Percentage">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="convert">Convert Percentage</label>
        <div class="col-sm-10">
          <input type="convert" class="form-control form-control-sm" id="convert" aria-describedby="convertHelp"
            placeholder="Enter Convert Percentage">
        </div>
      </div>
      <div class="container">
        <div class="form-group row">
          <div class="container">
            <div class="d-flex flex-row-reverse">
              <div class="p-2">
                <button type="submit" class="btn btn-outline-secondary btn-sm">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>