<div class="row">
  <div class="container">
    <form [formGroup]="NewProdForm" (ngSubmit)="createNewProduct()">
      <div class="form-group row">
        <label for="staticCode" class="col-sm-2 col-form-label">Code</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" formControlName="code" id="staticCode">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="name" class="form-control form-control-sm" id="inputName" formControlName="name"
            placeholder="Enter Name">
          <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
              Name is required.
            </div>
            <div *ngIf="name.errors.minlength">
              Name must be at least 4 characters long.
            </div>
            <div *ngIf="name.errors.maxlength">
              Name must be at most 50 characters long.
            </div>
          </div> -->
        </div>
      </div>
      <div class="form-group row">
        <label for="inputQuantity" class="col-sm-2 col-form-label">Quantity</label>
        <div class="col-sm-10">
          <input type="quantity" class="form-control form-control-sm" id="inputQuantity" formControlName="quantity"
            placeholder="Enter Quantity">
          <!-- <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert alert-danger">
            <div *ngIf="quantity.errors.required">
              Name is required.
            </div>
            <div *ngIf="quantity.errors.pattern">
              numbers 1 to 999 is valid
            </div>
          </div> -->
        </div>
      </div>
      <div class="form-group row ">
        <label class="col-sm-2 col-form-label" for="exampleFormControlTextarea1">Description</label>
        <div class="col-sm-10">
          <textarea class="form-control form-control-sm" id="exampleFormControlTextarea1" formControlName="description"
            rows="2"></textarea>
         <!--  <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
            <div *ngIf="description.errors.required">
              Description is required.
            </div>
          </div> -->
        </div>
      </div>
      <div class="form-group row">
        <div class="container">
          <div class="d-flex flex-row-reverse">
            <div class="p-2">
              <button type="submit" class="btn btn-outline-secondary btn-sm"
                [disabled]="!NewProdForm.valid">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>