<div class="row">

  <div class="col-sm-4">
    <div class="btn-group" role="group" *ngIf="lsselectproduct.length>0">
      <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{getInfo()}}
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <button class="dropdown-item" (click)="selectedUser(user)" *ngFor="let user of lsuser">{{user.Name}}</button>
      </div>
    </div>
  </div>
  <div class="col-sm-5"></div>
  <div class="col-sm-3">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-secondary btn-sm" (click)='gotoList()'
        *ngIf="lsselectproduct.length!==0">View List</button>
      <button type="button" class="btn btn-outline-secondary btn-sm" (click)='assignProdtoUser()'
        *ngIf="selectuser!=undefined">Submit</button>
    </div>
  </div>
</div>
<!-- Selected User -->
<div class="row" *ngIf="lsselectproduct.length>0">
  <div class="card">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Code</th>
          <th scope="col">Total Quantity</th>
          <th scope="col">Allocated Quantity</th>
          <th scope="col">
            <span *ngIf="selectuser===undefined">Created</span>
            <span *ngIf="selectuser!==undefined">User Code</span>
          </th>
          <th scope="col">Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prod of lsselectproduct index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{prod.Name}}</td>
          <td> <a [routerLink]="['/ProductManagement/Detail/', prod.Code]">{{prod.Code}}</a></td>
          <td #Available>{{prod.TQuantity}}</td>
          <td>
            <input type="text" class="form-control" name="allowcatedQuantity" [(ngModel)]="prod.AllowedQuantity"
              aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
              appCustomValidator='prod.AllowedQuantity' [AvailableAmount]='prod.TQuantity' #UserRequest="ngModel" />
              <div *ngIf="UserRequest.errors?.forbiddenName  && (UserRequest.touched || UserRequest.dirty)"
              class="cross-validation-error-message alert alert-danger">
                    Enter amount should be less than Available Amount.
                </div>
          </td>
          <td>
            <span *ngIf=" selectuser===undefined">{{prod.Created}}</span>
              <span *ngIf="selectuser!==undefined">{{selectuser.Code}}</span>
          </td>
          <td>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"
                (click)="RemoveItem(prod)">
              <label class="form-check-label" for="inlineCheckbox1">select</label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="card" *ngIf="lsselectproduct.length==0">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Code</th>
          <th scope="col">No of Products</th>
          <th scope="col">Assigned To</th>
          <th scope="col">Created On</th>
          <th scope="col">
            Transcaton Approved
          </th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let myAProd of myAssignProd index as i">
          <th scope="row">{{i+1}}</th>
          <td> <a>{{myAProd.Code}}</a></td>
          <td>{{myAProd.NoProduct}}</td>
          <td>{{myAProd.Owner}} </td>
          <td> {{myAProd.Created}} </td>
          <td>{{myAProd.TransApproved}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>